/*MODULO EL CUERPO: CABEZA TERCERA PAGINA*/

.imagen-derecha-cabeza {
    position: absolute;
    top: 280px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 250px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 270px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

.imagen-izquierda-cabeza {
    position: absolute;
    top: 280px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 790px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 240px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

.texto-arriba-1 {
    position: absolute;
    top: 540px;
    /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    /* Centra horizontalmente el texto */
    transform: translateX(-220%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.texto-arriba-2 {
    position: absolute;
    top: 200px;
    /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    /* Centra horizontalmente el texto */
    transform: translateX(120%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.texto-derecho {
    position: absolute;
    top: 280px;
    /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    /* Centra horizontalmente el texto */
    transform: translateX(300%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.texto-medio {
    position: absolute;
    top: 280px;
    /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    /* Centra horizontalmente el texto */
    transform: translateX(-50%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.texto-izquierdo {
    position: absolute;
    top: 280px;
    /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    /* Centra horizontalmente el texto */
    transform: translateX(-400%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.fila {
    margin-bottom: 50px;
    /* Espacio entre las filas */
}

.boton-medio {
    background-color: #6B8711;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cursor de puntero */
    width: 150px;
    /* Ancho fijo para los botones */
    margin: 5px auto;
    /* Margen vertical automático y margen horizontal automático para centrar */
    display: block;
    /* Para que ocupen todo el ancho disponible */
    font-weight: bold;
    /* Estilo del texto en negrita */
    font-size: 15px;
    /* Tamaño de la fuente */
    transition: opacity 0.3s ease;
    /* Transición suave de la opacidad */
}


/* Estilo al pasar el mouse sobre los botones */

.boton-medio:hover {
    opacity: 0.6;
    /* Reduce la opacidad al 80% al pasar el mouse */
}


/*MODULO EL CUERPO: EL CUERPO PAGINA 4*/

.imagen-derecha-C {
    position: absolute;
    top: 190px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 580px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 190px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

.imagen-izquierda-C {
    position: absolute;
    top: 190px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 1000px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 190px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

.imagen-espalda-C {
    position: absolute;
    top: 200px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 180px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 190px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

.texto-izquierdo-C {
    position: absolute;
    top: 280px;
    /* Ajusta la posición vertical según sea necesario */
    left: 74%;
    /* Centra horizontalmente el texto */
    transform: translateX(-400%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.texto-derecho-C {
    position: absolute;
    top: 365px;
    /* Ajusta la posición vertical según sea necesario */
    left: 104%;
    /* Centra horizontalmente el texto */
    transform: translateX(-400%);
    /* Centra horizontalmente el texto */
    text-align: center;
    /* Centra el texto horizontalmente */
}


/*MODULO EL CUERPO: ACTIVIDAD CUERPO PAGINA 5*/

.container-actividad-C {
    text-align: center;
}