@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* que el html ocupe el 100% de nuestro espacio en la pantalla */
html{
    font-family: "Inter", sans-serif;
    height: 100%;
}
.grid-container {
    background-color: rgb(77, 197, 246);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
main {
    /* border:3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

main {
    background-color: rgb(77, 197, 246);
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta al 110% */
    }
    100% {
        transform: scale(1);
    }
}

#LOGO {
    margin-left:50px;
    max-width: 100%;
    height: 500px;
    margin-right: 700px;
    animation: zoom 6s infinite alternate; /* animación de zoom constante */
}

.tex-button {
    
    /* border: 2px solid #0E7A9A; */
    grid-column: 2; /* Se coloca en la primera columna */
}
.tex-button h1{
    color: #f9f9f9;
    font-size: 50px;
    margin-bottom: 40px;;
}
.tex-button p{
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
}
.tex-button .button-comenzar {
    background-color: #E3006D;
    border-radius: 10px;
    font-size: 30px;
    color: #f9f9f9;
    text-decoration: none;
    height: 40px;
    width: 300px;
    margin-left: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* transiciones suaves */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra gris */
}

.tex-button .button-comenzar:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* aumenta la sombra al hacer hover */
}

.tex-button .button-comenzar a {
    text-decoration: none;
    color: aliceblue;
}


header {
    display: flex;
    align-items: center;
}

.navbar-object {
    width: 100%; /* Asegura que el navbar ocupe todo el ancho disponible */
}
.nav-01 {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #f9f9f9; /* Color de fondo del navbar */
    height:90px; 
}

.nav-01 h2 {
    margin-right: 800px; /* Espacio entre el título y los botones */
}

.nav-01 .buttons-navbar {
    display: flex;
    justify-content: end;
}
/* DISEÑO DE LOS BOTONES */
.nav-01 .buttons-navbar a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: white; /* Color del texto */
    margin-left: 25px;
    text-decoration: none; /* Quita la subrayado */
    background-color: #0E7A9A; /* Color del fondo */
    display: inline-block; /* Asegura que el fondo abarque todo el texto */
    border-radius: 15px; /* Añade bordes redondeados al botón */
    width: 120px;
    height: 50px;
}
.nav-01 .buttons-navbar a h3{
    margin-top:10px;
}
.nav-01 .buttons-navbar h3 {
    margin-left: 5px;
    margin-bottom: 5px;;
}
.nav-01 .buttons-navbar a:hover {
    background-color: lightgray; /* Cambio de color al pasar el mouse */
}
#SOFTEDUCAM{
    width: 500px;
    height:80px;
    margin-right: 200px;
}

@media only screen and (max-width: 768px) {
    .nav-01 {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        align-items: flex-start; /* Alinea los elementos al inicio */
    }

    .nav-01 h2 {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 10px; /* Agrega margen inferior para separar el título de los botones */
    }
} 