#start-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo semitransparente */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    /* Asegura que el botón esté delante de todo */
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: -90px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    /* Fondo blanco */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transform: rotateY(0);
    transition: transform 0.3s;
    perspective: 1000px;
}

.card.flip .card-front {
    transform: rotateY(0);
}

.card.flip .card-back {
    transform: rotateY(-180deg);
}

.card .card-front,
.card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card .card-front {
    background-color: #ffffff;
    transform: rotateY(180deg);
}

.card .card-front img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

.card .card-back {
    background-color: #014379;
    /* Color cuando está volteada */
}

#game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#game-info p {
    margin: 0;
    font-weight: bold;
    /* Establece el texto del párrafo en negrita */
    color: rgb(255, 255, 255);
    /* Cambia el color del texto a azul cobalto */
    font-size: 1.2em;
}

#game-info span {
    margin-left: 5px;
    /* Ajusta el margen entre los números y las etiquetas */
    color: blue;
    /* Cambia el color del texto a azul */
}


/* Estilos del modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 140px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    /* Añade esquinas redondeadas */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.resultado-imagen {
    width: 150px;
    height: auto;
    margin: 10px 0;
}

.boton-verde {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    /* Añade esquinas redondeadas */
}

.boton-rojo {
    background-color: red;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    /* Añade esquinas redondeadas */
}

.boton-verde:hover,
.boton-rojo:hover {
    opacity: 0.8;
}

@media (max-width: 1080px) {
    .game-board {
        grid-template-columns: repeat(5, 65px);
        grid-gap: 10px;
        margin-top: -250px;
    }
    .card {
        width: 70px;
        height: 70px;
    }
    .card .card-front img {
        max-width: 60px;
        max-height: 60px;
    }
    #start-button {
        position: absolute;
        margin-top: -170px;
    }
}