@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(77, 197, 246);

}

/* Contenedor principal */
.grid-container {
    font-family: "Inter", sans-serif;
    background-color: rgb(77, 197, 246);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Estilo para cada elemento */
.instruction {
    width: 100%; /* Ancho del elemento al 100% del contenedor */
    text-align: center;
    position: relative; /* Establece la posición relativa para que los botones estén relativos a este contenedor */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espacio entre instruction y casillas */
}

.casillas {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.casillas .cuadro {
    flex: 1;
    border: 2px solid black; /* Agrega bordes negros */
    margin: 5px; /* Espacio entre los cuadros */
    text-align: center; /* Centra el texto */
    width: 200px; /* Anchura deseada */
    height: 200px; /* Altura deseada */
}
.imagenes-cas{
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center; /* Centra los elementos horizontalmente */
}
.imagenes-cas .img1 {
    flex: 1;
    border: 2px solid black; /* Agrega bordes negros */
    margin: 5px; /* Espacio entre los cuadros */
    text-align: center; /* Centra el texto */
    width: 200px; /* Anchura deseada */
    height: 200px;
}
.imagenes-cas img{
    width: 200px;
    height: 200px;
}


/* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media only screen and (max-width: 600px) {
    .casillas .cuadro,
    .imagenes-cas .img1 {
        width: 100px; /* Establecer un ancho fijo para los elementos */
        height: 100px; /* Establecer una altura fija para los elementos */
    }

    .imagenes-cas img {
        width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
        height: auto; /* Hacer que la altura de la imagen se ajuste automáticamente */
    }
}

/* Botón de audio */
.boton-audio {
    background-color: rgba(175, 157, 212, 1);
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.boton-audio i {
    color: rgb(0, 0, 0);
    font-size: 30px;
    vertical-align: middle;
}



.botones {

    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px; /* Ajusta el margen para mayor espacio */
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
}

.boton, .sig {
    text-decoration: none;
    background-color: rgba(42, 107, 183, 1); /* Color de fondo azul */
    border: none; /* Elimina los bordes */
    padding: 10px 20px; /* Espaciado interno */
    margin-left: 10px; /* Espaciado entre los botones */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    border-radius: 25px;
}


.boton:hover, .sig:hover {
    background-color: rgb(63, 159, 219); /* Color de fondo azul más oscuro al pasar el mouse */
}

