@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(77, 197, 246);

}

/* Contenedor principal */
.grid-container {
    font-family: "Inter", sans-serif;
    background-color: rgb(77, 197, 246);
    display: flex;
    height: 100vh;
    margin: 0;
}

/* Estilo para cada elemento */
.instruction {
    width: 100%; /* Ancho del elemento al 100% del contenedor */
    text-align: center;
    /* border: 2px solid green; */
}

.instruction .color-icon {
    margin-top: 20px;
   background-color: rgba(175, 157, 212, 1);
   height: 50px;
   width: 50px;
   border-radius: 15px;
}
.instruction .color-icon .bi{
    height: 100px;
    width: 100px;;
}

.instruction .bi-volume-up {
    font-size: 30px;
}

.instruction .bi2 {
    font-size: 70px;
}
