@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(77, 197, 246);
}
#navbar-container{
    margin-bottom: 90px;
}

.body-container {
    font-family: "Inter", sans-serif;
    background-color: rgb(77, 197, 246);
    display: flex;
    height: 100vh;
    margin: 0;
}


.instruction {
    width: 100%;
    text-align: center;
    
}
@media only screen and (max-width: 600px) {
    .instruction {
        width: 100%;
        text-align: center;
        margin-top: 80px;
    }
}
/* Agrega esta clase para la animación de dilatación */
.pulsating {
    animation: pulsate 0.3s infinite alternate;
}

@keyframes pulsate {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.2);
    }
}


.boton-audio {
    border: none;
    margin-top: 20px;
    background-color: rgba(175, 157, 212, 1);
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.boton-audio i {
    font-size: 30px;
    vertical-align: middle;
}

.boton-audio2 , .boton-audio22 {
    border: none;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(129, 219, 255);
    height: 60px;
    width: 60px;
    border-radius: 15px;
}

.boton-audio2 , .boton-audio22 i {
    color: rgb(0, 0, 0);
    font-size: 40px;
    vertical-align: middle;
}

.hablar {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}


.hablar .icon {
    margin-right: 10px;
    background-color: rgba(149, 249, 255, 1);
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.hablar .image {
    color: rgba(15, 114, 146, 1);
    background-color: rgba(255, 240, 240, 1);
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.instruction .microfono {
    border: none;
    margin-left: 70px;
    background-color: rgba(255, 240, 240, 1);
    height: 80px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.microfono {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.microfono.escuchando {
    color: red;
    background-color: lightgray;
}


.botones {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.botones a {
    text-decoration: none;
    color: white; /* Añade este estilo para asegurar que el color del texto sea blanco */
}

.boton, .sig {
    background-color: rgba(42, 107, 183, 1);
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 25px;
    outline: none; /* Elimina el borde de enfoque */
}

.boton:hover, .sig:hover {
    background-color: rgb(63, 159, 219);
}

/*ICONO DE MICROFONO*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 200; /* Tamaño de fuente más grande, ajusta según sea necesario */
}
.material-symbols-outlined {
    transform: scale(2); /* Escalar el icono al doble de su tamaño original */
}
/* Estilo para el modal */

.modalV {
    display: none;
    /* Oculta el modal por defecto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Índice z para asegurar que esté encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    /* Habilita el desplazamiento si el contenido del modal es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo oscuro semitransparente */
}


/* Estilo para el contenido del modal */

.modal-contentV {
    background-color: #fefefe;
    /* Fondo blanco */
    margin: 15% auto;
    /* Margen vertical y horizontal */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 350px;
    /* Ancho máximo del contenido */
    box-sizing: border-box;
}

.microfono:hover {
    background-color: rgb(219, 154, 154);
    /* Cambia el color al pasar el mouse */
}
/* Media query para pantallas más pequeñas */

@media (max-width: 1080px) {
    .modal-contentV {
        width: 70%;
        /* Reduce el ancho máximo al 90% del viewport */
        max-width: none;
        margin: 80% auto;
        /* Margen vertical y horizontal */
    }
}


/* Estilo para el botón de cerrar */

.closeV {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeV:hover,
.closeV:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Estilo para la imagen */

.resultado-imagenV {
    width: 100%;
    /* Ancho al 100% del contenedor */
    height: auto;
    /* Altura automática para mantener la proporción */
    display: block;
    /* Para centrar la imagen */
    margin: auto;
    /* Para centrar la imagen */
}