/*BOTON CON ICONO DE AUDIO*/

.boton-audio {
    background-color: #007bff;
    /* Color de fondo azul para el botón */
    border: none;
    /* Sin borde */
    border-radius: 50%;
    /* Para hacer el botón redondo */
    width: 40px;
    /* Tamaño fijo del botón */
    height: 40px;
    /* Tamaño fijo del botón */
    padding: 0;
    /* Elimina cualquier relleno interno */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    margin-right: 10px;
    /* Espacio a la derecha del botón */
}

.boton-audio i {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    /* Alinea verticalmente el icono */
}


/*FIN DE LOS BOTNNES CON ICONO DE AUDIOO*/


/* Estilos para el contenedor principal */

.container1 {
    position: relative;
    padding: 20px;
    /* Ajusta el relleno para dispositivos móviles */
}


/* Estilos para el cuadro */

#miCuadro {
    width: 500px;
    height: 400px;
    border-radius: 30px;
    position: absolute;
    left: 134px;
    /* Posición horizontal del cuadro */
    top: 70px;
    /* Posición vertical del cuadro */
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../Cuerpo/img/modulo_cuerpo.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    z-index: 0;
    /* Asegura que el cuadro esté detrás del contenido del contenedor */
}

.botonCuadro {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    background-color: #6B8711;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* Asegura que el botón esté por encima del cuadro */
    font-weight: bold;
    /* Texto en negrita */
    font-size: 24px;
    /* Tamaño de la fuente */
}


/* Estilos para el texto lateral */

.texto-lateral {
    position: absolute;
    top: 150px;
    /* Aumenta la distancia entre el texto y el borde superior del contenedor */
    transform: translateY(-50%);
    left: calc(55% + 20px);
    width: 500px;
    text-align: center;
    z-index: 2;
    font-size: 25px;
    /* Ajusta el tamaño de la fuente */
    background-color: rgba(0, 123, 255, 0.2);
    /* Fondo transparente */
    color: white;
    /* Color de las letras */
    border-radius: 20px;
    /* Borde redondeado */
}

.imagen-debajo {
    position: absolute;
    top: calc(220px + 20px + 80px);
    /* 150px es la posición del texto lateral, 30px es el tamaño del texto, y 50px es la distancia adicional */
    left: calc(65% + 20px);
    /* Misma posición horizontal que el texto lateral */
    width: 200px;
    /* Ancho de la imagen */
    height: 300px;
    /* Alto de la imagen */
    background-image: url('../Cuerpo/img/nino_modulo.png');
    /* Ruta de la imagen */
    background-size: contain;
    /* Ajusta el tamaño de la imagen para que se ajuste completamente dentro del contenedor sin cortarla */
    background-position: center;
    /* Posición de la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    z-index: 999;
    /* Valor alto para asegurar que esté en la parte superior */
}

#miCuadro:hover {
    background-color: rgba(173, 216, 230, 0.9);
    /* Cambia el color de fondo del cuadro a uno más opaco al pasar el mouse sobre él */
}


/* Estilos adicionales para hacerlo responsive */

@media (max-width: 767px) {
    #miCuadro {
        width: 70%;
        /* Reducir el ancho del cuadro en dispositivos más pequeños */
        left: 50%;
        transform: translateX(-50%);
        top: 70%;
        /* Baja más el cuadro cuando se hace responsivo */
    }
    .botonCuadro {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 300px;
    }
    .texto-lateral {
        position: static;
        /* Cambia la posición a estática para que fluya con el contenido */
        width: auto;
        /* Restablecer el ancho */
        text-align: center;
        margin: 0 auto;
        /* Centra el texto */
        font-size: 20px;
        /* Reducir el tamaño de la fuente */
        margin-top: 100px;
        /* Agrega margen superior para separarlo del contenido superior */
    }
    .imagen-debajo {
        display: none;
        /* Oculta la imagen en dispositivos móviles */
    }
    #miCuadro:hover {
        background-color: rgba(173, 216, 230, 0.9);
    }
}


/**INICIO DE LA SEGUNDA PAGINA*/

.texto-centrado {
    text-align: center;
    margin-top: 20px;
    /* Puedes ajustar este valor según la cantidad de espacio que quieras dejar arriba del texto */
    font-size: 25px;
    /* Tamaño del texto */
    font-weight: bold;
    /* Estilo del texto en negrita */
    display: inline-block;
    /* Agrega esta línea para hacer que el fondo se ajuste al contenido */
}

.texto-centrado p {
    display: inline-block;
    /* Para que el texto se muestre en línea con el botón */
    vertical-align: middle;
    /* Alinea verticalmente el texto con el botón */
}

.imagen-derecha {
    position: absolute;
    top: 100px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 150px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 240px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

.imagen-izquierda {
    position: absolute;
    top: 100px;
    /* Cambia este valor para ajustar la posición vertical */
    right: 1000px;
    /* Cambia este valor para ajustar la posición horizontal */
    width: 240px;
    /* Cambia este valor para ajustar el ancho de la imagen */
}

#contenedor-botones {
    text-align: center;
}


/* Estilos base de los botones */

.boton-adicional {
    padding: 10px 100px;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 100px;
}


/* Estilos del primer botón */

.boton1 {
    background-color: #DE32E1;
    font-weight: bold;
    font-size: 25px;
}


/* Estilos del segundo botón */

.boton2 {
    background-color: #0E7A9A;
    font-weight: bold;
    font-size: 25px;
}


/* Estilos al pasar el mouse sobre los botones */

.boton-adicional:hover {
    background-color: #fff;
    color: #000;
}


/* Estilos para pantalla pequeña */

@media (max-width: 1080px) {
    .imagen-derecha,
    .imagen-izquierda {
        position: static;
        width: 30%;
        /* Ajustar el ancho según sea necesario */
        margin: 0 auto 20px;
        /* Centrar y agregar margen inferior */
    }
    .boton-adicional {
        margin-top: 20px;
        padding: 10px 10px;
        /* Ajusta el padding horizontal para dar espacio a los lados */
        display: block;
        width: 70%;
        margin-left: auto;
        /* Margen izquierdo automático */
        margin-right: auto;
        /* Margen derecho automático */
    }
    .texto-centrado {
        text-align: center;
        font-size: 22px;
        /* Tamaño de fuente más pequeño */
    }
}


/* INICIO DE LA PAGINA 3 "CARA" */

.imagen-derecha-cabeza {
    position: absolute;
    top: 280px;
    right: 285px;
    width: 270px;
}

.imagen-izquierda-cabeza {
    position: absolute;
    top: 280px;
    right: 820px;
    width: 240px;
}

.texto-arriba-1 {
    position: absolute;
    top: 540px;
    left: 50%;
    transform: translateX(-220%);
    text-align: center;
}

.texto-arriba-2 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(120%);
    text-align: center;
}

.texto-derecho {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(300%);
    text-align: center;
}

.texto-medio {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.texto-izquierdo {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-400%);
    text-align: center;
}

.boton-medio {
    background-color: #6B8711;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin: 5px auto;
    display: block;
    font-weight: bold;
    font-size: 15px;
    transition: opacity 0.3s ease;
}

.boton-izquierda {
    background-color: #6B8711;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin: 5px auto;
    display: block;
    font-weight: bold;
    font-size: 15px;
    transition: opacity 0.3s ease;
}

.boton-derecha {
    background-color: #6B8711;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin: 5px auto;
    display: block;
    font-weight: bold;
    font-size: 15px;
    transition: opacity 0.3s ease;
}


/* Estilo al pasar el mouse sobre los botones */

.boton-medio:hover,
.boton-izquierda:hover,
.boton-derecha:hover {
    opacity: 0.6;
}


/* Media queries para dispositivos de pantalla pequeña */

@media only screen and (max-width: 1080px) {
    .imagen-derecha-cabeza {
        position: static;
        width: 35%;
        /* Ajustar el ancho según sea necesario */
        margin: 0 auto 20px;
        /* Centrar y agregar margen inferior */
        margin-top: 50px;
    }
    .imagen-izquierda-cabeza {
        position: static;
        width: 30%;
        /* Ajustar el ancho según sea necesario */
        margin: 0 auto 20px;
        /* Centrar y agregar margen inferior */
        margin-top: 50px;
    }
    .texto-arriba-2,
    .texto-derecho,
    .texto-medio {
        position: static;
        top: auto;
        left: auto;
        transform: none;
    }
    .texto-arriba-1,
    .texto-izquierdo {
        position: static;
        top: auto;
        left: auto;
        transform: none;
    }
    .boton-medio,
    .boton-izquierda,
    .boton-derecha {
        width: 30%;
        /* Ajusta el ancho de los botones al 30% del ancho del contenedor padre */
    }
}


/*INICIO DE LA PAGINA 4 EL CUERPO*/

.imagen-derecha-C {
    position: absolute;
    top: 190px;
    right: 580px;
    width: 190px;
}

.imagen-izquierda-C {
    position: absolute;
    top: 190px;
    right: 1000px;
    width: 190px;
}

.imagen-espalda-C {
    position: absolute;
    top: 200px;
    right: 180px;
    width: 190px;
}

.botones-C {
    position: absolute;
    top: 600px;
    right: 50%;
    transform: translateX(50%);
}

.texto-izquierdo-C {
    position: absolute;
    top: 330px;
    left: 74%;
    transform: translateX(-400%);
    text-align: center;
}

.texto-derecho-C {
    position: absolute;
    top: 365px;
    left: 104%;
    transform: translateX(-400%);
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .imagen-derecha-C {
        display: none;
    }
    .imagen-izquierda-C,
    .imagen-espalda-C {
        display: block;
        margin: 0 auto;
        width: 180px;
        /* Ajusta el tamaño de la imagen */
        margin-top: 20px;
        /* Espacio entre las imágenes */
        position: static;
        /* Restaura la posición estática para que las imágenes estén en distintas filas */
    }
    .imagen-izquierda-C {
        top: 400px;
        /* Posición vertical de la imagen izquierda */
    }
    .imagen-espalda-C {
        top: 570px;
        /* Posición vertical de la imagen de la espalda */
    }
    .botones-C {
        width: 30%;
        /* Ajusta el ancho de los botones al 30% del ancho del contenedor padre */
    }
    .texto-izquierdo-C {
        position: static;
        top: auto;
        left: auto;
        transform: none;
    }
    .texto-derecho-C {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        margin-top: 50px;
        /* Ajusta el espacio superior para moverlo más abajo */
    }
}