/* Estilos generales para pantallas grandes */

.grid-container {
    font-family: "Inter", sans-serif;
    background-color: rgb(77, 197, 246);
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas */
    justify-content: space-between;
    /* Distribuye uniformemente los elementos a lo largo del contenedor */
    padding: 10px;
    /* Agrega un poco de espacio alrededor del contenedor */
    padding-bottom: 90px;
    /* Agrega más espacio en la parte inferior */
}

#navbar-container {
    margin-bottom: 100px;
}

.cont {
    width: calc(20% - 20px);
    /* Calcula el ancho para 5 elementos por fila */
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho y alto del elemento */
}


/* Estilos específicos para dispositivos móviles */

@media only screen and (max-width: 768px) {
    .cont {
        width: calc(50% - 20px);
        /* Calcula el ancho para 2 elementos por fila */
    }
}

.cont img {
    max-width: 100%;
    /* Asegura que la imagen no se extienda más allá de su contenedor */
    height: 200px;
    border-radius: 15px;
}

.cont a {
    font-size: 23px;
    display: inline-block;
    /* Convierte las etiquetas 'a' en elementos de bloque */
    padding: 10px 20px;
    /* Añade espacio interno alrededor del texto */
    background-color: white;
    /* Fondo blanco */
    color: rgb(47, 51, 150);
    /* Texto negro */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
    border: none;
    /* Elimina el borde */
    border-radius: 15px;
}

.cont a:hover {
    background-color: lightgray;
    /* Cambia el color de fondo al pasar el mouse */
}