
/* Agrega esta clase para la animación de dilatación */
.pulsating {
    animation: pulsate 0.3s infinite alternate;
}

@keyframes pulsate {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.2);
    }
}
/*BOTON CON ICONO DE AUDIO*/

.boton-audio {
    background-color: #007bff;
    /* Color de fondo azul para el botón */
    border: none;
    /* Sin borde */
    border-radius: 50%;
    /* Para hacer el botón redondo */
    width: 40px;
    /* Tamaño fijo del botón */
    height: 40px;
    /* Tamaño fijo del botón */
    padding: 0;
    /* Elimina cualquier relleno interno */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    margin-right: 10px;
    /* Espacio a la derecha del botón */
}

.boton-audio i {
    color: white;
    font-size: 20px;
    vertical-align: middle;
    /* Alinea verticalmente el icono */
}


/*FIN DE LOS BOTNNES CON ICONO DE AUDIOO*/


/* Estilos para el contenedor principal */

.container1 {
    position: relative;
    padding: 20px;
    margin-top: 100px;
    /* Ajusta el relleno para dispositivos móviles */
}


/* Estilos para el cuadro */

#miCuadro {
    width: 400px;
    height: 400px;
    border-radius: 30px;
    position: absolute;
    left: 175px;
    /* Posición horizontal del cuadro */
    top: 70px;
    /* Posición vertical del cuadro */
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../assets/contenido/la\ familia.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    z-index: 0;
    /* Asegura que el cuadro esté detrás del contenido del contenedor */
}

.botonCuadro {
    width: 300px;
    height: 40px;
    border-radius: 40px;
    background-color: #6B8711;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* Asegura que el botón esté por encima del cuadro */
    font-weight: bold;
    /* Texto en negrita */
    font-size: 20px;
    /* Tamaño de la fuente */
}


/* Estilos para el texto lateral */

.texto-lateral {
    position: absolute;
    top: 150px;
    /* Aumenta la distancia entre el texto y el borde superior del contenedor */
    transform: translateY(-50%);
    left: calc(55% + 20px);
    width: 500px;
    text-align: center;
    z-index: 2;
    font-size: 25px;
    /* Ajusta el tamaño de la fuente */
    background-color: rgba(0, 123, 255, 0.2);
    /* Fondo transparente */
    color: white;
    /* Color de las letras */
    border-radius: 20px;
    /* Borde redondeado */
}

.imagen-debajo {
    position: absolute;
    top: calc(220px + 20px + 80px);
    /* 150px es la posición del texto lateral, 30px es el tamaño del texto, y 50px es la distancia adicional */
    left: calc(65% + 20px);
    /* Misma posición horizontal que el texto lateral */
    width: 200px;
    /* Ancho de la imagen */
    height: 300px;
    /* Alto de la imagen */
    background-image: url('../assets/nina_modulo.png');
    /* Ruta de la imagen */
    background-size: contain;
    /* Ajusta el tamaño de la imagen para que se ajuste completamente dentro del contenedor sin cortarla */
    background-position: center;
    /* Posición de la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    z-index: 999;
    /* Valor alto para asegurar que esté en la parte superior */
}

#miCuadro:hover {
    background-color: rgba(173, 216, 230, 0.9);
    /* Cambia el color de fondo del cuadro a uno más opaco al pasar el mouse sobre él */
}


/* Estilos adicionales para hacerlo responsive */

@media (max-width: 1080px) {
    #miCuadro {
        width: 80%;
        /* Reducir el ancho del cuadro en dispositivos más pequeños */
        left: 50%;
        transform: translateX(-50%);
        top: 80%;
        /* Baja más el cuadro cuando se hace responsivo */
    }
    .botonCuadro {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }
    .texto-lateral {
        position: static;
        /* Cambia la posición a estática para que fluya con el contenido */
        width: auto;
        /* Restablecer el ancho */
        text-align: center;
        margin: 0 auto;
        /* Centra el texto */
        font-size: 20px;
        /* Reducir el tamaño de la fuente */
        margin-top: 100px;
        /* Agrega margen superior para separarlo del contenido superior */
    }
    .imagen-debajo {
        display: none;
        /* Oculta la imagen en dispositivos móviles */
    }
    #miCuadro:hover {
        background-color: rgba(173, 216, 230, 0.9);
    }
}
/* Estilos para el canvas de confeti */
#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
    height: 100%; /* Ajustar la altura al 100% del contenedor */
    pointer-events: none; /* Evitar que el canvas interfiera con eventos de ratón */
    z-index: 1; /* Asegurar que esté por encima de los botones, pero detrás de otros elementos visuales */
}
